@using MusicWebApp.Entities
@model MusicWebApp.ViewModels.Songs.SongVM
@{
	Layout = "/Views/Shared/_Layout.cshtml";
	ViewData["Title"] = "Add Song";
}
@section Navbar{
	@Html.Partial("_Navbar")
}
@section Playlists{
	@Html.Partial("_Playlists")
}
@section Player{
	@Html.Partial("_Player-Cover")
}
@section Username{
	@Html.Partial("_Username")
}
@section MainPage{
	<fieldset class="loginform">
		<legend>ADD SONG</legend>
		<form action="/Song/Create" method="post">
			@Html.HiddenFor(m => m.userId)
			<div class="logincontainer">
				<div class="login">
					<div class="loginrow">
						<div>
							Title:
						</div>
						<div>
							@Html.TextBoxFor(m => m.Name)
						</div>
						<div>
							@Html.ValidationMessageFor(m => m.Name)
						</div>
					</div>
					<div class="loginrow">
						<div>
							Artist:
						</div>
						<div>
							@Html.TextBoxFor(m => m.Artist)
						</div>
						<div>
							@Html.ValidationMessageFor(m => m.Artist)
						</div>
					</div>
					<div class="loginrow">
						<div>
							Dropbox URL:
						</div>
						<div id="songURL">
							@Html.TextBoxFor(m => m.AudioURL)
						</div>
						<div>
							@Html.ValidationMessageFor(m => m.AudioURL)
						</div>
					</div>
					<div class="loginrow">
						<div>
							<input class="right btn btn-primary" type="submit" value="Add song" />
						</div>
					</div>
				</div>
			</div>
		</form>
	</fieldset>
}